<h1>Welcome to Minify</h1>
<h2>The premiere url shortening network.</h2>

<form action='/urls' method='post'>

  <label for='long'>Url to shorten:</label>
  <input type='text' name='long' id='long'>

  <input type='submit' name='submit' value='Shorten Url'>
</form>

<h1>All Shortened Urls:</h1>

<ul>
<% @urls.each do |url| %>
  <% user = User.find(url.user_id) %>
  <li>Url: <a href="/urls/<%= url.short %>"><%= url.short %></a> 
      Click Count: <%= url.click_count %> 
      User: <a href="/users/<%= user.id %>"><%= user.first_name %> <%= user.last_name %></a></li>
<% end %>
</ul>
